# 项目信息
PROJECT_NAME= "mm-fusion-analysis"
PROJECT_DESCRIPTION= "mm-fusion-analysis"
VERSION= "0.1.0"
DEBUG=true
ALLOWED_ORIGINS=["*"]
API_PREFIX=/api/v1

# 数据库配置
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# 连接池配置
DB_ECHO=false
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=40
DB_POOL_RECYCLE=3600
DB_POOL_TIMEOUT=30

# redis 配置
REDIS_HOST=
REDIS_PORT=
REDIS_DB=1
REDIS_PASSWORD=

# MinIO配置
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=false
MINIO_BUCKET=mmfa-datasets
MINIO_USE_HTTPS_URL=false

# Gunicorn配置
WORKERS=8

# JWT 配置
SECRET_KEY=change-me-to-a-long-random-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
REFRESH_TOKEN_EXPIRE_DAYS=7

# 邮件配置（SMTP）
SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_USER=your@qq.com
SMTP_PASSWORD=your_smtp_auth_code
SMTP_FROM_NAME=
EMAIL_CODE_EXPIRE_MINUTES=10

# Admin 初始化账号（用于 init_data.py）
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NICKNAME=

# 百度云审核
BDY_API_KEY=
BDY_SECRET_KEY=
